  
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 

.root {
  --bkground: url(./assets/index/blackmood.jpg);
  --border-color: white;
  --text-color: rgba(0, 255, 255, 0.908);
  --background-color: rgba(255, 255, 255, 0.10);
  --background-color-hover: rgba(255, 255, 255, 0.50);
  --switch-filter: url(./assets/index/sun.svg);
}

body{
  display: flex;
  background: var(--bkground) no-repeat top center/cover;
  height: 100vh;
}

input {
  border-radius: 5px;
}
  

#container {
  display: flex;
  margin: auto;
  border-radius: 10px;
  padding: 10px 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(43, 43, 43);
}

#h1 {
  color: var(--text-color);
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hr {
  display: flex;
  flex-direction: column;
  padding: 2pt;
  border: solid 2pt black;
  border-radius: 10px;
  width: 220px;
}

#displayhora {
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  gap: 10px;
  border-radius: 20px;
}

#tempo {
  color: var(--text-color);
  font-family: verdana;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#foto {
  display: flex;
  justify-content: center;
}

#foto img {
  width: 500px;
}

footer{
  color: var(--text-color);
  font-size: 18px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

#vlt {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 8px;
  font-size: 15px;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  text-decoration: none;
}

#vlt:hover {
  background: var(--background-color-hover);
}
