.containerCertification {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.mainCertification {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.courseSelect {
  font-size: 16px;
  color: var(--text-color);
  width: 250px;
  border-radius: 8px;
  flex-shrink: 2px;
  background-color: rgb(128, 128, 128, 0.70);  
}
.displayButton {
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 2px;
    font-size: 16px;
  
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
    text-decoration: none;
    
    transition: background 0.2s;
  }
  .displayButton:hover {
    background: var(--background-color-hover);
    border: 1.5px solid var(--border-color);
    padding: 11px;
  }

.imgCourse {
    height: 280px;
    width: 400px;
    border-radius: 8px;
    outline: 2px solid red;  
  }
@media (min-width: 780px) {
  
  :root {
    --bkground: url(./assets/index/blackmood-mobile.jpg)
  }

  .light {
    --bkground: url(./assets/index/lightmood.jpg)
  }

  .courseSelect {
    width: 350px;
  }
  .imgCourse {
    height: 500px;
    width: 800px;
  }
}
@keyframes slide-in {
  from {
    left:0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}