* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
body {
    display: flex;
    flex-direction: column;
    background: var(--bkground) no-repeat center center/200%
}
.dark {
    --bkground: url(./assets/image/index/blackmood.jpg);
    --border-color: white;
    --text-color: rgba(0, 255, 255, 0.908);
    --background-color: rgba(255, 255, 255, 0.10);
    --background-color-hover: rgba(255, 255, 255, 0.50);
    --switch-filter: url(./assets/image/index/sun.svg);
}
.light {
    --bkground: url(./assets/image/index/lightmood.jpg);
    --border-color: black;
    --text-color: black;
    --background-color: rgba(255, 255, 255, 0.10);
    --background-color-hover: rgb(128, 128, 128, 0.70);
    --switch-filter: url(./assets/image/index/moon.svg);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: var(--text-color);
    font-size: 16px;
}
footer .btnFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite DK Uloopet";
    padding: 10px;  
    background: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;  
    text-decoration: none;  
    transition: background 0.2s;
}
footer .btnFooter:hover {
    background: var(--background-color-hover);
}
@media (max-width: 700px) {  
    body {
      background-size: 700%
  }
}
@media (max-width: 350px) {  
    body {
      background-size: 4000%
  }
}  