* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playwrite DK Uloopet",'Inter', sans-serif;
    color: var(--text-color);
}
html, body {
    display: flex;
    flex-direction: column;
    background: var(--bkground) no-repeat top center/cover;
    height: 100%;
}
.dark {
    --bkground: url(./assets/image/index/blackmood.jpg);
    --border-color: white;
    --text-color: rgba(0, 255, 255, 0.908);
    --background-color: rgba(255, 255, 255, 0.10);
    --background-color-hover: rgba(255, 255, 255, 0.50);
    --switch-filter: url(./assets/image/index/sun.svg);
}
.light {
    --bkground: url(./assets/image/index/lightmood-mobile.jpg);
    --border-color: black;
    --text-color: black;
    --background-color: rgba(255, 255, 255, 0.10);
    --background-color-hover: rgb(128, 128, 128, 0.70);
    --switch-filter: url(./assets/image/index/moon.svg);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position:relative;
    padding: 10px;
    color: var(--text-color);
    font-size: 16px;
}
footer .btnFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
    text-decoration: none;  
    transition: background 0.2s;
}
footer .btnFooter:hover {
    background: var(--background-color-hover);
    border: 1.5px solid var(--border-color);
    padding: 10px;
}
@media (min-width: 700px) {  
    :root {
      --bkground: url('./assets/image/index/blackmood-mobile.jpg')
    }  
    .light {
      --bkground: url('./assets/image/index/lightmood.jpg')
    }
}