* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.root {
  --bkground: url(./assets/index/blackmood.jpg);
  --border-color: white;
  --text-color: rgba(0, 255, 255, 0.908);
  --background-color: rgba(255, 255, 255, 0.10);
  --background-color-hover: rgba(255, 255, 255, 0.50);
  --switch-filter: url(./assets/index/sun.svg);
}

.light {
  --bkground: url(./assets/index/lightmood-mobile.jpg);
  --border-color: black;
  --text-color: black;
  --background-color: rgba(255, 255, 255, 0.10);
  --background-color-hover: rgb(128, 128, 128, 0.70);
  --switch-filter: url(./assets/index/moon.svg);
}

body {
  /*background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  Sequência background -> color, image, repeat, position, size.*/
  background: var(--bkground) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 12px;
  flex-direction: column;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;

  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--background-color-hover);
  border: 1.8px solid var(--border-color);
  padding: 22px;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 15px auto 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#name {
  display: flex;
  font-size: 18.5px;
  justify-content: center;
  padding: 5px;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* div img {
  margin: 10px;
  transform: translateY(-10%);
} Para mudar posicionamente da imagem na tela... */
#profile img {
  width: 200px;
}

#switch {
  height: 24px;
  width: 64px;
  margin: 5px auto;
  position: relative;
}

#switch button {
  display: flex;
  width: 32px;
  height: 32px;
  background: white var(--switch-filter) no-repeat center;
  border: 1px solid var(--border-color);
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-10%);
  animation: slide-back 1s;
}

#switch button:hover {
  outline: 8px solid var(--background-color-hover);
}

.light #switch button {
  animation: slide-in 1s forwards;
  
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 999px;
  backdrop-filter: blur(4px);
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50px;
  transition: --background 0.2s;
}

#social-links a:hover {
  padding: 17px;
  background-color: var(--background-color-hover);

}

footer {
  display: flex;
  margin: 10px auto 0px;
  align-content: center;
  justify-content: center;
}

@media (min-width: 700px) {
  
  :root {
    --bkground: url(./assets/index/blackmood-mobile.jpg)
  }

  .light {
    --bkground: url(./assets/index/lightmood.jpg)
  }
}

@keyframes slide-in {
  from {
    left:0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}